* {
  margin: 0;
  padding: 0;
  border: 0
}
body {
  background-color: #FAFAFA;
  color: #454646;
  font-family: 'Lora', serif;
}
header {
  display: inline;
  background: #FAFAFA;
  height: 40px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}
.hidden {
  visibility: hidden;
  transition: top 1s ease-in-out;
}
header span {
  margin-left: 2.5%;
  margin-top: 50px;
}
#boetHead {
  font-size: 170%;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  vertical-align: middle;
}
#photoHead {
  font-size: 150%;
}
#devHead {
  font-size: 150%;
}
.landImage {
  background: url("./images/header.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center
}
img, object, embed, video {
  max-width: 100%
}
.gridContainer {
  margin-left: 0;
  margin-right: 0;
  width: 100%
}
#Wrapper {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block
}
#landerView {
  margin: 0 0;
  padding-top: 25%;
  padding-bottom: 25%;
}
.header h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
}
h1 {
  text-align: center;
  font-size: 500%;
  letter-spacing: 1%;
  margin: 0px
}
h2 {
  margin: 0px;
}
h3 {
}
h4 {
  margin: 40px
}
br {
  font-size: 150%
}
.headerText {
  color: white;
}
.section {
  width: 100%;
  background: #FAFAFA;
  min-height: 400px;
  margin-bottom: 30px;
  padding-right: 0px
}
.parallax1 {
  height: 700px;
  background: url("./images/image-1.jpg") fixed 100%;
  background-size: cover;
  background-position: center
}
.parallax2 {
  height: 700px;
  background: url("./images/image-4.jpg") fixed 100%;
  background-size: cover;
  background-position: center
}
#parallax {
  height: 1000px;
  background: url("./images/image-6.jpg") fixed 100%;
  background-size: cover;
  background-position: center
}
a {
  color: black;
}
.headerText a {
  color: white;
}
a:hover {
  color: #ff8518;
  text-decoration: none
}
.section p {
  padding: 20px 50px 20px 50px
}
.subheader {
  padding: 0px;
  margin: 0px;
  font-size: 250%;
  word-spacing: 0px;
  margin-top:;
}
.subTitle {
  color: #0E0E0E;
  font-size: 500%;
  font-weight: 500;
}
#photo {
  padding-top: 60px;
}
#developer {
  padding-top: 60px;
}
.image {
  width: 100%;
  margin: auto
}
.subsection:hover img {
  box-shadow: 8px 8px 3px grey;
  padding: 0px;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02)
}
.subsection {
  width: 33%;
  margin: auto;
  min-width: 200px;
  padding: 20px;
  display: inline-block
}
#gitLink {
  width: 100%;
}
#codeHeader {
  margin: 50px 0 15px 0;
}
.subsection2 {
  width: 33%;
  margin: auto;
  padding: 20px;
  min-width: 150px;
  display: inline-block
}
.subsection2 > img {
  width: 400px;
}
.codeDescription {
  margin-top: 5px;
}
.github {
  margin: auto;
  display: block;
  max-width: 60px;
}
#cinLink {
  margin: auto;
  height: 74px;
  padding: 2px;
  color: red;
  font-size: 120%;
  font-family: 'Bree Serif', serif;
  display: inline-block
}
.codeLink img {
  height: 25px;
}
.codeLink h3 {
  font-size: 25px;
}
.resume {
  margin: 0 auto;
  text-align: center;
  padding: 10px 50px 10px 50px
}
.resume section {
  width: 100%
}
.resume p {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black
}

/*
MEDIA SECTION STARTS HERE, ALL MEDIA CSS BELOW THIS, THIS IS A LONG LINE TO MAKE IT EASIER TO FIND IN MY CODE
*/
@media screen and (max-width:850px) {
  body {
    background: url("./images/headerMobile.jpg") fixed;
    background-size: contain;
    background-position: center
  }
  .bodyWrap {
    width: 95%;
    margin: 0 auto;
  }
  h1 {
    font-size: 400%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    vertical-align: middle;
    margin-bottom: 40px;
  }
  header {
    visibility: hidden;
    height: 0px;
  }
  .subTitle {
    color: #0E0E0E;
    font-size: 300%;
    font-weight: 500;
    margin-top: 40px;
  }
  .landImage{
    background: none;
  }
  #landerView {
    margin: 0 0;
    padding-top: 20%;
    padding-bottom: 25%;
    background: url("./images/headerMobile.jpg") fixed;
    background-size: contain;
    background-position: center
  }
  .parallax1 {
    height: 100px;
    background: url("./images/headerMobile.jpg") fixed;
    background-size: contain;
    background-position: center
  }
  .parallax2 {
    height: 100px;
    background: url("./images/headerMobile.jpg") fixed;
    background-size: contain;
    background-position: center
  }
  #parallax {
    height: 100px;
    background: url("./images/headerMobile.jpg") fixed;
    background-size: contain;
    background-position: center
  }
  .subsection2 {
    width: 100%;
    margin: 0   auto;
    padding: 20px 20px 0px 20px;
    min-width: 150px;
    display: inline-block;
    border-top: 1px black solid;
  }
}