* {
  margin: 0;
  padding: 0;
  border: 0
}

@media only screen and (max-width: 800px) {
  #landerView {
  margin: 0 0;
  padding-top: 20%;
  padding-bottom: 25%;
  /* background: url("./images/mobile/fill-lander.jpg") no-repeat center center fixed; */
  background-color: red;
  background-size: cover;
  background-position: center
}


body {
  background-color: black;
  color: #454646;
  font-family: 'Noto Sans', sans-serif
}

.contain {
  background-color: #FAFAFA
}

img,
object,
embed,
video {
  max-width: 100%
}

.gridContainer {
  margin-left: 0;
  margin-right: 0;
  width: 100%
}

#Wrapper {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block
}

#landerView {
  margin: 0 0;
  padding-top: 20%;
  padding-bottom: 25%;
  /* background: url("./images/fill-lander.jpg") no-repeat center center fixed; */
  background-color: blue;
  background-size: contain;
  background-position: center
}

h1 {
  text-align: center;
  font-size: 500%;
  color: #262727;
  letter-spacing: 1%;
  margin: 0px
}

h2 {
  margin: 0px;
  color: #262727
}

h3 {
  color: #4A4A4A
}

h4 {
  color: #191919;
  margin: 40px
}

br {
  font-size: 150%
}

.profile-image {
  width: 200px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px
}

.section {
  width: 100%;
  background: #FAFAFA;
  min-height: 400px;
  margin-bottom: 30px;
  padding-right: 0px
}

.parallax1 {
  height: 700px;
  background: url("./images/image-1.jpg") fixed 100%;
  background-size: cover;
  background-position: center
}

.parallax2 {
  height: 700px;
  background: url("./images/image-4.jpg") fixed 100%;
  background-size: cover;
  background-position: center
}

.parallax3 {
  height: 700px;
  background: url("./images/image-6.jpg") fixed 100%;
  background-size: cover;
  background-position: center
}

a {
  color: #262727
}

a:hover {
  color: #4C4C4C;
  text-decoration: none
}

.section p {
  padding: 20px 50px 20px 50px
}

.subheader {
  padding: 0px;
  margin: 0px;
  font-size: 250%;
  word-spacing: 20px;
}

.subTitle {
  color: #0E0E0E;
  font-size: 500%;
  font-weight: 500;
}

.image {
  width: 100%;
  margin: auto
}

.subsection:hover img {
  box-shadow: 8px 8px 3px grey;
  padding: 0px;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02)
}

.subsection {
  width: 33%;
  margin: auto;
  min-width: 200px;
  padding: 20px;
  display: inline-block
}

.subsection2 {
  width: 25%;
  margin: auto;
  min-width: 200px;
  display: inline-block
}

.github {
  margin: auto;
  display: block
}

#cinLink {
  margin: auto;
  height: 74px;
  padding: 2px;
  color: red;
  font-size: 120%;
  font-family: 'Bree Serif', serif;
  display: inline-block
}

.resume {
  margin: 0 auto;
  text-align: center;
  padding: 10px 50px 10px 50px
}

.resume section {
  width: 100%
}

.resume p {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black
}